// ---------- Подключение шрифтов ---------- //

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}
